#*
 * *************************************************************************************************************************************************************
 *
 * TheseFoolishThings: Miscellaneous utilities
 * http://tidalwave.it/projects/thesefoolishthings
 *
 * Copyright (C) 2009 - 2025 by Tidalwave s.a.s. (http://tidalwave.it)
 *
 * *************************************************************************************************************************************************************
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the
 * License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on  an "AS IS" BASIS, WITHOUT WARRANTIES OR
 * CONDITIONS OF ANY KIND, either express or implied.  See the License for the specific language governing permissions and limitations under the License.
 *
 * *************************************************************************************************************************************************************
 *
 * git clone https://bitbucket.org/tidalwave/thesefoolishthings-src
 * git clone https://github.com/tidalwave-it/thesefoolishthings-src
 *
 * *************************************************************************************************************************************************************
 *#
Introduction
============

This module is mostly composed of small utilities that lives on their own:

+ [As](as.html): a facility for supporing DCI roles;
+ [Finder](finder.html): a fluent and flexible API to extract collection of objects from a source;
+ [Pair and Triple](pair-and-triple.html): the implementation of 2- and 3-tuples;
+ [Type-safe maps](type-safe-maps.html): an implementation of maps iInspired by the
  [heterogeneous map pattern](https://www.informit.com/articles/article.aspx?p=2861454&seqNum=8) described in Effective Java by Joshua Bloch.


To use this module in your Maven project add this snippet to your POM:

```xml
<dependency>
    <groupId>${project.groupId}</groupId>
    <artifactId>${project.artifactId}</artifactId>
    <version>${project.version}</version>
</dependency>
```

Snippets for other build tool (such as Gradle) are available [here](dependency-info.html). The dependencies of this module are described
[here](dependencies.html). Information about quality and continuous integration is available at the [main project page](../../index.html).



---



#[[##]]# Compatibility with Java 9 modules

This library is fully compatible with Java 9 modules. Since some parts of it use reflection to instantiate classes or inject them with dependencies (e.g.
`Finder` and DCI roles), modules using these features need to be properly “opened”, such as in the following example:

```java
module com.acme.mymodule
  {
    // ...
    opens com.acme.mymodule.impl to it.tidalwave.util;
  }
```

The packages in the `opens` declaration are those containing the classes that need the reflective operations.

If this operation is not done, a runtime exception will occur; its message will explain which packages needsto be opened. More information about open
modules and reflection is available in this
[Stack Overflow article](https://stackoverflow.com/questions/46482364/what-is-an-open-module-in-java-9-and-how-do-i-use-it).
