<nbm>
    <moduleType>normal</moduleType>
    <codeNameBase>it.tidalwave.util.logging/1</codeNameBase>
    <cluster>semantic</cluster>
    <manifest>src/main/nbm/manifest.mf</manifest>
    <homepageUrl>http://thesefoolishthings.kenai.com</homepageUrl>
    <author>Fabrizio Giudici</author>
    <licenseName>Apache License, Version 2.0</licenseName>
    <licenseFile>../LICENSE.txt</licenseFile>
</nbm>
