![Maven Central](https://img.shields.io/maven-central/v/it.tidalwave.thesefoolishthings/thesefoolishthings.svg)
[![Build Status](https://img.shields.io/jenkins/s/http/services.tidalwave.it/ci/job/TheseFoolishThings_Build_from_Scratch.svg)](http://services.tidalwave.it/ci/job/TheseFoolishThings)
[![Test Status](https://img.shields.io/jenkins/t/http/services.tidalwave.it/ci/job/TheseFoolishThings.svg)](http://services.tidalwave.it/ci/job/TheseFoolishThings/)
[![Coverage](https://img.shields.io/jenkins/c/http/services.tidalwave.it/ci/job/TheseFoolishThings.svg)](http://services.tidalwave.it/ci/job/TheseFoolishThings)
[![Total alerts](https://img.shields.io/lgtm/alerts/b/tidalwave/thesefoolishthings-src.svg?logo=lgtm&logoWidth=18)](https://lgtm.com/projects/b/tidalwave/thesefoolishthings-src/alerts/)

${project.name}
==================

#[[##]]# Introduction

${project.description}

${project.name} is **licensed** with the XYZ license.


#[[##]]# Table of contents

<!-- MACRO{toc|section=2|fromDepth=1|toDepth=4} -->


#[[##]]# Modules

+ [Utilities](modules/it-tidalwave-util/index.html)             [(Javadoc)](modules/it-tidalwave-util/apidocs/index.html)

+ [Roles](modules/it-tidalwave-role/index.html)                 [(Javadoc)](modules/it-tidalwave-role/apidocs/index.html)

+ [Test Utilities](modules/it-tidalwave-util-test/index.html)   [(Javadoc)](modules/it-tidalwave-util-test/apidocs/index.html)

+ [MessageBus](modules/it-tidalwave-messagebus/index.html)      [(Javadoc)](modules/it-tidalwave-messagebus/apidocs/index.html)

+ [Actors](modules/it-tidalwave-actor/index.html)               [(Javadoc)](modules/it-tidalwave-actor/apidocs/index.html)

#[[##]]# General information
#[[###]]# Maven dependency

Since most modules can be used independently, Maven dependency information are available in their specific documentation.

#[[###]]# Sources, issue tracker and continuous integration

The primary source repository is on **[Bitbucket](${project.scm.repo.browse.url})**, a secondary repository (synced in real time) is available on
**[GitHub](${tidalwave.github.browse.url})**.

To checkout sources from Bitbucket:

```shell
> git clone ${project.scm.repo.readonly.url}
```

To checkout sources from GitHub:

```shell
> git clone ${tidalwave.github.readonly.url}
> git clone ${tidalwave.github.readonly.url}
```

The issue tracker is hosted on the Atlassian Jira Cloud:

+ ${project.issueManagement.url}

The **continuous integration** is available at:

+ Tidalwave CI server (primary): ${project.ciManagement.url}
+ Travis: https://travis-ci.org/github/tidalwave-it/thesefoolishthings-src
+ Bitbucket pipelines (demonstration only): https://bitbucket.org/tidalwave/thesefoolishthings-src/addon/pipelines/home

There are also other **quality analysis tools** available:

+ LGTM: https://lgtm.com/projects/b/tidalwave/thesefoolishthings-src/

#[[###]]# API documentation

[Aggregate Javadoc](apidocs/index.html)

