@import url("http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Questrial|Muli:300,400,300italic,400italic");
@import "Typography.css";

body
  {
    font-size: 170%;
  }

code
  {
    font-size: 90%;
  }

h2 code, h3 code
  {
    xcolor: black;
    font-family: "Andale Mono", "Courier New", monospace;
    font-size: 90%
  }

.breadcrumb
  {
    font-size: 70% !important;;
  }

.container h1
  {
    font-size: 160%;
  }


.container h2
  {
    margin-top: 2em;
    font-size: 130%;
    padding-bottom: 0;
  }


.container h3
  {
    margin-top: 2em;
    font-size: 110%;
  }


.container h4
  {
    font-size: 100%;
  }
